{% extends "base.html" %}

{% block title %}Nro de casco por Organismo{% endblock %}

{% block js_include %}
    <script type="text/javascript" SRC="/comerciax/media/js/jquery.simplemodal.1.4.min.js"></script>
{% endblock %}

{% block js_code %}
 $(document).ready(function() {
  $('#confirm-dialog input.confirm, #confirm-dialog a.confirm, a.delete').click(function (e) {
        e.preventDefault();

        // example of calling the confirm function
        // you must use a callback function to perform the "yes" action
        confirm("&iquest;Desea eliminar esta configuracion para el organismo " + ' "' + "{{ organismo_name }}" + '"?' , function () {
            window.location.href = "{% url confignrocasco_del idconf=rc_id %}";
        });
    }); 
   
 });
 
function confirm(message, callback) {
    $('#confirm').modal({
        closeHTML: "<a href='#' title='Close' class='modal-close'>x</a>",
        position: ["20%",],
        overlayId: 'confirm-overlay',
        containerId: 'confirm-container', 
        onShow: function (dialog) {
            $('.message', dialog.data[0]).append(message);

            // if the user clicks "yes"
            $('.yes', dialog.data[0]).click(function () {
                // call the callback
                if ($.isFunction(callback)) {
                    callback.apply();
                }
                // close the dialog
                $.modal.close();
            });
        }
    });
}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/comerciax/media/css/confirm.css">
{% endblock %}

{% block controller-name %}Area{% endblock %}

{% block side-menu %}
    <ul>
        <li><a href="{% url confignrocasco_index %}">Index</a></li>
        <li><a href="#" class="delete">Eliminar</a></li>
    </ul>
{% endblock %}

{% block main-content %}
        <div id='confirm'>
            <div class='header'><span>Confirmar</span></div>
            <div class='message'></div>
            <div class='buttons'>
                <div class='no simplemodal-close'>No</div><div class='yes'>S&iacute;</div>
            </div>
        </div>

    <div class="botones">
            <ul>
               {% if edito == 1 %}
                <li>
                    <a href="#" class="delete"><span>Eliminar</span></a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url confignrocasco_index %}" ><span>Regresar</span></a>
                </li>
            </ul>
    </div>
    
    {% if error2 %}
        <div class="ui_state_error">
           <ul>
                <li>{{ error2 }}</li>
            </ul> 
        </div>
    {% endif %}
    
<div style="width:100%;">
    <!-- Content Here -->
        <div class="data">
            <div class="data-wraper"> <!-- DATOS GENERALES -->
                <div class="data-left">
                    <div class="item">
                        <span class="label">Codigo:</span>
                        <span class="value">{{ organismo_name }}</span>
                     </div>
                     
                    
                </div>
                 <div class="data-rigth">
                    <div class="item">
                        <span class="label">Siglas:</span>
                        <span class="value">{{ organismo_siglas }}</span>
                    </div>
                </div>
            </div>
        </div> 
         
    <!-- End Content -->
</div>

{% endblock %}
