{% extends "base.html" %}
{% block title %}Facturas{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="/comerciax/media/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block js_code %}
 $(document).ready(function() {
                               
     $('a.add').click(function (e) {
        e.preventDefault();
        ira = this.href 
            $.ajax({
            url:ira,
            dataType:'json',
            success: function(data) {
               if(typeof(data.error) == "undefined")
               {
                    
               }
               else
               {
                    //mostrar error mandado del servidor
                    alert(data.message);
               } 
              } 
            }); //llamada ajax
            
    });                               
                               
                               
    $('#countries-table').dataTable({
        'sPaginationType': 'full_numbers', 
        "bServerSide": true, 
        "sAjaxSource": "{% url get_fact_list %}",
        "oLanguage": {
                                "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                                "sZeroRecords": "No hay registro - lo siento",
                                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                                "sInfoEmtpy": "Mostrando 0 a 0 de 0 registros",
                                "sInfoFiltered": "(Filtrado desde _MAX_ total de registro)",
                                "oPaginate":{
                                            "sFirst":"Primero",
                                            "sLast":"&Uacute;ltimo",
                                            "sNext":"Siguiente",
                                            "sPrevious":"Anterior"
                                            },
                                "sSearch":"Buscar:"
                             }
        ,"aoColumns": [
                                {"bVisible": 0,"sWidth": "0%" },
                                 {"sWidth": "5%" },
                                 {"fnRender": function ( oObj ) {
                                    var url = "view/" + oObj.aData[0];
                                    return "<a href="+ url +">"+oObj.aData[2] +'</a>';
                                   },
                                 "sWidth": "80%" },
                                 {"sWidth": "5%" },
                                  {"sWidth": "5%" },
                                  {"sWidth": "5%" },
                                  {"sWidth": "5%" },
                                 
                              ]
    });
 });
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/comerciax/media/css/datatables.css">
    <link rel="stylesheet" type="text/css" href="/comerciax/media/css/ui-lightness/jquery-ui-1.7.2.custom.css">
{% endblock %}

{% block controller-name %}Facturas {% endblock %}

{% block side-menu %}
    <ul>
         <li> <a HREF="{% url index2 %}">Inicio</a></li>
         
        <li><a href="{% url facturaadd %}">Adicionar</a></li>
        
    </ul>
{% endblock %}

{% block main-content %}
    {{botonadd}}
    <div class="botones">
            <ul>
                <li>
                    <a href="{% url facturaadd %}">
                        <span>Adicionar</span>
                    </a>
                    
                </li>
            </ul>
    </div>
    
{% if error2 %} 
     <div class="ui-state-error">
         <ul>
            {% for error in error2 %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
     </div>    
    {% endif %}
<div style="width:100%;">
<table id="countries-table" class="display" style="width:100%;">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nro
            </th>
            <th>
                Cliente
            </th>
            <th>
                Fecha
            </th>
            <th>
                Tipo
            </th>
            <th>
                Cancelada
            </th>
            <th>
                Confirmada
            </th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>

{% endblock %}
