{% extends "base.html" %}

{% block title %}Empresa{% endblock %}

{% block js_include %}
    <script type="text/javascript" SRC="/comerciax/media/js/jquery.simplemodal.1.4.min.js"></script>
{% endblock %}

{% block js_code %}
 $(document).ready(function() {
  $('#confirm-dialog input.confirm, #confirm-dialog a.confirm, a.delete').click(function (e) {
        e.preventDefault();

        // example of calling the confirm function
        // you must use a callback function to perform the "yes" action
        confirm("Desea eliminar la empresa " + ' "' + "{{ empresa_nombre }}" + '"' , function () {
            window.location.href = "{% url delempresa idempresa=empresa_id %}";
        });
    }); 
   
 });
 
function confirm(message, callback) {
    $('#confirm').modal({
        closeHTML: "<a href='#' title='Close' class='modal-close'>x</a>",
        position: ["20%",],
        overlayId: 'confirm-overlay',
        containerId: 'confirm-container', 
        onShow: function (dialog) {
            $('.message', dialog.data[0]).append(message);

            // if the user clicks "yes"
            $('.yes', dialog.data[0]).click(function () {
                // call the callback
                if ($.isFunction(callback)) {
                    callback.apply();
                }
                // close the dialog
                $.modal.close();
            });
        }
    });
}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/comerciax/media/css/confirm.css">
    <link rel="stylesheet" type="text/css" href="/comerciax/media/css/ui-lightness/jquery-ui-1.7.2.custom.css">
{% endblock %}

{% block controller-name %}Empresa{% endblock %}

{% block side-menu %}
    <ul>
        <li><a href="{% url empresa %}">Index</a></li>
        <li><a href="{% url editempresa idempresa=empresa_id %}">Editar</a></li>
        <li><a href="#" class="delete">Eliminar</a></li>
    </ul>
{% endblock %}

{% block main-content %}
        <div id='confirm'>
            <div class='header'><span>Confirmar</span></div>
            <div class='message'></div>
            <div class='buttons'>
                <div class='no simplemodal-close'>No</div><div class='yes'>S&iacute;</div>
            </div>
        </div>

    <div class="botones">
            <ul>
                <li>
                    <a href="{% url editempresa idempresa=empresa_id %}"><span>Editar</span></a>
                </li>
                <li>
                    <a href="#" class="delete"><span>Eliminar</span></a>
                </li>
                <li>
                    <a href="{% url empresa %}" ><span>Regresar</span></a>
                </li>
            </ul>
    </div>
    
    {% if error2 %}
        <div class="ui-state-error">
           <ul>
                <li>{{ error2 }}</li>
            </ul> 
        </div>
    {% endif %}
    
<div style="width:100%;">
    <!-- Content Here -->
        <div class="data">
            <div class="data-wraper"> <!-- DATOS GENERALES -->
                <div class="data-left">
                    <div class="item">
                        <span class="label">C&oacute;digo:</span>
                        <span class="value">{{ codigo }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Email:</span>
                        <span class="value">{{ email }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Tel&eacute;fono:</span>
                        <span class="value">{{ telefono }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Direcci&oacute;n:</span>
                        <span class="value">{{ direccion }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Cuenta MN:</span>
                        <span class="value">{{ cuenta_mn }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Titular MN:</span>
                        <span class="value">{{ titular_mn }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Sucursal MN:</span>
                        <span class="value">{{ sucursal_mn }}</span>
                     </div>
                </div>
                 <div class="data-rigth">
                    <div class="item">
                        <span class="label">Nombre:</span>
                        <span class="value">{{ empresa_nombre }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Fax:</span>
                        <span class="value">{{ fax }}</span>
                     </div>
                      <div class="item">
                        <span class="label">Provincia:</span>
                        <span class="value">{{ provincia }}</span>
                     </div>
                     <div class="item">
                        <span class="label"></span>
                        <span class="value"></span>
                     </div>
                     <div class="item">
                        <span class="label">Cuenta USD:</span>
                        <span class="value">{{ cuenta_usd }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Titular USD:</span>
                        <span class="value">{{ titular_usd }}</span>
                     </div>
                     <div class="item">
                        <span class="label">Sucursal USD:</span>
                        <span class="value">{{ sucursal_usd }}</span>
                     </div>
                </div>
            </div>
        </div> 
    <!-- End Content -->
</div>

{% endblock %}
