{% extends "form/form.html" %}

{% block title %}{{ title }}{% endblock %}

{% block js_include %}
    <script type="text/javascript" SRC="/comerciax/media/js/jquery.validate.min.js"></script>
    <script type="text/javascript" SRC="/comerciax/media/js/jquery-ui-1.8.7.js"></script>
    <script type="text/javascript" SRC="/comerciax/media/js/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript" SRC="/comerciax/media/js/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript" SRC="/comerciax/media/js/jquery.simplemodal.1.4.min.js"></script>
{% endblock %}


{% block js_code %}
function valida_totales() 
{ 
   
   pc=parseInt(document.getElementById('id_plan_contratado').value)
   if(isNaN(pc))
   	 pc = 0
   enero=parseInt(document.getElementById('id_plan_enero').value)
   if(isNaN(enero))
   	 enero = 0
   febrero=parseInt(document.getElementById('id_plan_febrero').value)
   if(isNaN(febrero))
   	 febrero = 0
   marzo=parseInt(document.getElementById('id_plan_marzo').value)
   if(isNaN(marzo))
   	 marzo = 0
   abril=parseInt(document.getElementById('id_plan_abril').value)
   if(isNaN(abril))
   	 abril = 0
   mayo=parseInt(document.getElementById('id_plan_mayo').value)
   if(isNaN(mayo))
   	 mayo = 0
   junio=parseInt(document.getElementById('id_plan_junio').value)
   if(isNaN(junio))
   	 junio = 0
   julio=parseInt(document.getElementById('id_plan_julio').value)
   if(isNaN(julio))
   	 julio = 0
   agosto=parseInt(document.getElementById('id_plan_agosto').value)
   if(isNaN(agosto))
   	 agosto = 0
   septiembre=parseInt(document.getElementById('id_plan_septiembre').value)
   if(isNaN(septiembre))
   	 septiembre = 0
   octubre=parseInt(document.getElementById('id_plan_octubre').value)
   if(isNaN(octubre))
   	 octubre = 0
   noviembre=parseInt(document.getElementById('id_plan_noviembre').value)
   if(isNaN(noviembre))
   	 noviembre = 0
   diciembre=parseInt(document.getElementById('id_plan_diciembre').value)
   if(isNaN(diciembre))
   	 diciembre = 0
   suma=enero+febrero+marzo+abril+mayo+junio+julio+agosto+septiembre+octubre+noviembre+diciembre
   if (suma == 0){
   	 document.getElementById('id_valida_total').value=pc
   }
   else{
     document.getElementById('id_valida_total').value=suma
   }
} 

 $(document).ready(function() { 
      $('#id_organismo,#id_provincia').change(function(e) {
        e.preventDefault();
        //var organismo = $(this).val();
        var organismo = document.getElementById('id_organismo').value
        var provincia = document.getElementById('id_provincia').value
        if (organismo=="")
        {
         organismo=0;
         }
         if (provincia=="")
        {
         provincia=0;
         }
        //fecha.split("/").join("-")
        var tipo= document.getElementById('tipocliente').textContent;
        var url = "{% url obtenerclientes_list2 %}" + organismo + "/"+provincia+"/"+tipo+"/";
        a1=20
           $.ajax({
            url:url,
            dataType:'json',
            success: function(data) {
                
                var options = '<option value="">---------</option>';
                for (var i = 0; i < data.length; i++){
                    a1='<option value="'+data[i]["id"]+'">'
                    a1+=  data[i]["nombre"] + '</option>'
                    options += '<option value="'+data[i]["id"]+'">' + data[i]["codigo"] +" | "+ data[i]["nombre"] + '</option>'
                }
                
                $('#id_cliente').html(options)
                $("#id_cliente option:first").attr('selected', 'selected');
                
              } 
            }); //llamada ajax 
         });
         
         
    $('#id_ci').change(function(e) {
        e.preventDefault();
        var cli = $(this).val();
        var nombrecli = document.getElementById('id_nombre').value
        $("#id_nombre").removeAttr('disabled');
        var url = "{% url obtener_particular2 %}" + cli + "/" ;
           $.ajax({
           
		            url:url,
		            dataType:'json',
		            success: function(data) {
		            	mess1=""
						
		                if (data[0]["por_pagar"]=="1"){
		                	mess1+="tiene Cuentas por Pagar."
		                }
		                if (mess1!="") {
		                	document.getElementById('id_nombre').value="";
		                	document.getElementById('id_ci').value="";
		                	
		                	confirm("El cliente "+ mess1+ "&iquest;Desea realizar la operaci&oacute;n?" , function () {
		       					document.getElementById('id_ci').value=cli;
		       					document.getElementById('id_nombre').value=nombrecli;
		                        
		                     });
		                }
		                else{
			                  document.getElementById('id_ci').value=cli;
		       				  document.getElementById('id_nombre').value=nombrecli;
		                }
		              }
            }); //llamada ajax 
    });

  $('#id_cliente').change(function(e) {
        e.preventDefault();
        var cliente = $(this).val();
        var fecha = document.getElementById('id_fecha').value
        if (cliente=="")
        {
         cliente=0;
         }
        fecha.split("/").join("-")
        var url = "{% url tienecontrato_list2 %}" + cliente + "/"+fecha.split("/").join("-")+"/";
           $.ajax({
            url:url,
            dataType:'json',
            success: function(data) {
            	mess1=""
            	if (data[0]["por_pagar"]=="1"){
                	mess1+="tiene Cuentas por Pagar"
                }
				if (data[0]["nro"]=="Sin Contrato"){
				    if (mess1!=""){
                    	mess1+="no tiene contrato"
                    }
                    else{
                  		mess1+=" y no tiene contrato"
                  	}
                	mess1+="no tiene contrato"
                }
                if (data[0]["vencido"]=="1"){
                    if (mess1!=""){
                    	mess1+="tiene el contrato vencido"
                    }
                    else{
                  	mess1+=" y el contrato vencido"
                  	}
                }
                if (mess1!="") {
                   mess1+="."
                }
                if (mess1!="") {
                	document.getElementById('id_cliente').value="";
                	confirm("El cliente '"+ data[0]["nombre"] +"' "+ mess1+ "&iquest;Desea realizar la operaci&oacute;n?" , function () {
                        document.getElementById('id_cliente').value=cliente;
                     });
                }
              } 
            }); //llamada ajax
         });
   });

 $(function(){
    var pickerOpts = {
            dateFormat:"dd/mm/yy",
            changeMonth: true,
            changeYear: true,minDate: '{{ fecha_minima }}',
            maxDate: '{{ fecha_maxima }}'
     };
        $(".formulario").validate({
        rules: {
            plan_contratado: {
                required: true,
                equalTo:  "#id_valida_total"
            },
            
        },
        messages: {
            plan_contratado: {
                
                equalTo: "Debe ser igual al desglose por meses"
            },
        }
        });
        $(".date").datepicker(pickerOpts);
    });

    function confirm(message, callback) {
    $('#confirm').modal({
        closeHTML: "<a href='#' title='Close' class='modal-close'>x</a>",
        position: ["20%",],
        overlayId: 'confirm-overlay',
        containerId: 'confirm-container', 
        onShow: function (dialog) {
            $('.message', dialog.data[0]).append(message);

            // if the user clicks "yes"
            $('.yes', dialog.data[0]).click(function () {
                // call the callback
                if ($.isFunction(callback)) {
                    callback.apply();
                }
                // close the dialog
                $.modal.close();
            });
        }
    });
}; 
 
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/comerciax/media/css/confirm.css">
    <link rel="stylesheet" type="text/css" href="/comerciax/media/css/ui-lightness/jquery-ui-1.7.2.custom.css">
{% endblock %}

{% block controller-name %}{{ controlador }}{% endblock %}

{% block form_form %}
    <div id='confirm'>
            <div class='header'><span>Confirmar</span></div>
            <div class='message'></div>
            <div class='buttons'>
                <div class='no simplemodal-close'>No</div><div class='yes'>S&iacute;</div>
            </div>
        </div>
    <form class="formulario" action="{{ accion }}" method="post">
    <input id="id_valida_total" type="text" value={{ valor_validar }} name="valida_total" style="visibility:hidden" >
        <div class="zend_form">
            
                {% include "form/form_snippet.html" %}
                
                <p class="submit-group">
                    <input type="submit" name="submit1" id="submit" class="submit" value="Salvar">
                    <span class="element-canel-link"><a href={{ cancelbtn }}>Cancelar</a></span>
                </p>
        </div>
    </form>
{% endblock %}
